* {
    padding: O;
    margin: 0;
    box-sizing: border-box;
    webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
}

.center {
    margin: 0 auto;
    width: 1100px;
    /*        border: 1px solid red;*/
}

.upper {
    background-color: black;
    width: 100%;
    color: white;
    position: relative;
}

.dropdown {
    width: 100%;
    height: 200px;
}

.arrowBox {
    position: relative;
    background: #000000;
    width: 110px;
    color: white;
    margin-left: 779px;
    font-family: 'ralewayregular';
    padding: 3px;
    z-index: 1;
}

.hide{
    display:none;
}

.arrowBox div {
    padding-top: 10px;
    padding-left: 5px;
}

.arrowBox:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000;
    border-width: 10px;
    margin-left: -10px;
}

.center::after {
    clear: both;
    content: "";
    display: block;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}

li+li {
    padding-left: 50px;
}

nav,
.logo {
    padding: 10px 0px 10px 0px;
    font-family: 'ralewayregular';
    text-transform: uppercase;
    font-size: 15px;
}

.logo_color {
    color: #1BC09E;
    font-family: 'ralewaybold';
}

.carousel {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 63%, rgba(230, 230, 230, 1) 86%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(63%, rgba(239, 239, 239, 1)), color-stop(86%, rgba(230, 230, 230, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 63%, rgba(230, 230, 230, 1) 86%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 63%, rgba(230, 230, 230, 1) 86%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 63%, rgba(230, 230, 230, 1) 86%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(239, 239, 239, 1) 63%, rgba(230, 230, 230, 1) 86%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    width: 100%;
    height: 450px;
    padding-top: 10px;
}

.carousel>div {
    position: relative;
    height: 450px;
}

.car_arrow_left,
.car_arrow_right {
    color: #27C7AB;
    font-size: 5em;
    position: absolute;
    webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.car_arrow_left:hover,
.car_arrow_right:hover{
    cursor: pointer;
} 

.car_arrow_left {
    top: 154px;
    left: 0;
}

.car_arrow_right {
    top: 154px;
    right: 0;
}

.car_chair_img {
    top: 50px;
    left: 46px;
    position: absolute;
}


/*SLIDER*/

.car_chair_img ul{
    list-style: none;   
}

.car_chair_img li{
    display: none;
    padding-left: 0;
}

.car_chair_img .visible{
    display: inline-block;
}

/*SLIDER END*/

.car_content {
    position: absolute;
    width: 427px;
    right: 169px;
    font-family: 'ralewayregular';
    top: 93px;
    text-align: center;
}

.car_content h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.car_content p {
    margin-bottom: 30px;
}

.car_butt {
    font-size: 25px;
    text-transform: uppercase;
    background-color: #27C7AB;
    padding: 10px 40px 10px 40px;
    color: white;
    border-radius: 15px;
}

.art1 {
    width: 100%;
}

.art1>div {
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'ralewayregular';
}

.box1 {
    background-image: url('../images/box1_img.jpg');
    width: 329px;
    height: 225px;
    background-size: cover;
    margin-top: 0;
    margin-right: 54.5px;
    border: 1px solid #C2C2C2;
}

.box2 {
    background-image: url('../images/box2_img.jpg');
    width: 329px;
    height: 225px;
    background-size: cover;
    margin-top: 0;
    margin-right: 54.5px;
    border: 1px solid #C2C2C2;
}

.box3 {
    width: 329px;
    height: 245px;
    border: 1px solid #C2C2C2;
    color: #545454;
    margin-right: 0;
}

.box3 h1 {
    margin: 20px;
    color: black;
    border-bottom: 7px solid #1BC09E;
    width: 60%;
}

.box3 p {
    margin: 20px;
}

.box1,
.box2,
.box3 {
    float: left;
}

.bgBox {
    width: 100%;
    height: 60px;
    background-color: hsla(347, 100%, 99%, .5);
    margin-top: 146px;
    font-family: 'ralewaybold';
}

.bgBox div p {
    border-bottom: 7px solid #1BC09E;
}

.bgBox div {
    width: 45%;
    padding: 15px 0 0 10px;
}

.art2 {
    background-color: #F1F1F1;
    width: 100%;
}

.art2 > div {
    width: 1100px;
}

.priceHead {
    width: 100%;
    font-family: 'ralewayregular';
    color: #4D4D4D;
    font-size: 25px;
    margin: 0 0 60px 0;
    padding-top: 40px;
}

.priceHead p {
    text-transform: uppercase;
    border-bottom: 7px solid #1BC09E;
    width: 30%;
    padding-bottom: 7px;
}

.boxMain {
    width: 31.5%;
    height: 500px;
    border: 2px solid #D5D5D5;
    position: relative;
    background-color: white;
    float: left;
    font-family: 'ralewayregular';
    margin-bottom: 70px;
}

.bigCir {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #D5D5D5;
    background-color: white;
    top: -42px;
    left: 130px;
}

.smallCir {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #D5D5D5;
    margin: 18px;
}

.biggestCir {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 2px solid #D5D5D5;
    top: 100px;
    left: 100px;
    padding: 27px;
    font-family: 'ralewaybold';
    color: #C0C0C0;
}

.biggestCir sup {
    font-size: 15px;
}

.boxMid {
    margin: 0 30px 0 30px;
}

.boxHead {
    text-transform: uppercase;
    color: #27C9A2;
    font-size: 28px;
    position: absolute;
    top: 38px;
    left: 83px;
}

.buyTab {
    width: 100%;
    background-color: #E4E4E4;
    color: #989898;
    position: absolute;
    top: 263px;
    text-align: center;
    font-size: 22px;
    padding: 7px 0 7px 0;
}

.servTab {
    width: 100%;
    background-color: #F1F1F1;
    color: #9E9E9E;
    position: absolute;
    top: 303px;
    text-align: center;
    font-size: 22px;
    padding: 7px 0 7px 0;
}

.priceButt {
    background-color: #2CC4AD;
    border-radius: 10px;
    width: 40%;
    font-size: 14px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px 20px 10px 20px;
    top: 444px;
    left: 100px;
}

.hi {
    font-size: 40px;
    padding-left: 10px;
}

.boxHead2 {
    text-transform: uppercase;
    color: #27C9A2;
    font-size: 28px;
    position: absolute;
    top: 38px;
    left: 60px;
}

.warrTab {
    width: 100%;
    background-color: #E4E4E4;
    color: #9E9E9E;
    position: absolute;
    top: 343px;
    text-align: center;
    font-size: 22px;
    padding: 7px 0 7px 0;
}

#boxSelected1 {
    color: #27C7AB;
    background-color: white;
    border: 2px solid #27C7AB;
}

#boxSelected2 {
    color: white;
    background-color: #27C7AB;
    border: 2px solid #27C7AB;
}

#boxSelected3 {
    background-color: white;
}

.boxLast .hi {
    font-size: 40px;
    margin: -15px;
}

.boxHead3 {
    text-transform: uppercase;
    color: #27C9A2;
    font-size: 28px;
    position: absolute;
    top: 38px;
    left: 57px;
}

.adviceTab {
    width: 100%;
    background-color: #F1F1F1;
    color: #9E9E9E;
    position: absolute;
    top: 383px;
    text-align: center;
    font-size: 22px;
    padding: 7px 0 7px 0;
}

.contact {
    width: 100%;
    font-family: 'ralewayregular';
    color: #4D4D4D;
    font-size: 25px;
    margin: 0 0 60px 0;
    padding-top: 40px;
    text-transform: uppercase;
}

.contact p {
    border-bottom: 7px solid #1BC09E;
    width: 30%;
    padding-bottom: 7px;
}

input[type=text],
input[type=email],
textarea {
    display: block;
    margin-bottom: 30px;
    font-family: 'ralewayregular';
    font-size: 30px;
    border: 1px solid #A1E6D1;
    outline: 0;
    padding: 10px;
    color: #D6D6D6;
    width: 95%;
}

input[type=text],
input[type=email] {
    height: 63px;
}

::-webkit-input-placeholder {
    color: #D6D6D6;
}

::-moz-placeholder {
    color: #D6D6D6;
}

:-ms-input-placeholder {
    color: #D6D6D6;
}

:-moz-placeholder {
    color: #D6D6D6;
}

textarea {
    resize: none;
}

.form {
    float: left;
}

.submitSect {
    float: right;
    margin-right: 0px;
    width: 377px;
}

.submitSect img {
    display: block;
    margin-top: -21px;
    margin-left: 58px;
}

.checkbox {
    margin-top: 50px;
}

input[type=checkbox] {
    display: none;
    padding: 10px;
}

input[type=checkbox] + label {
    background: white;
    height: 48px;
    width: 48px;
    display: inline-block;
    padding: 0 0 0 0px;
    border: 1px solid #A9E4D2;
}

input[type=checkbox]:checked + label {
    background-image: url(../images/form_ok.jpg);
    height: 48px;
    width: 48px;
    display: inline-block;
    padding: 0 0 0 0px;
    border: 1px solid #A9E4D2;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox label{
    cursor: pointer;
}

#labelText {
    margin: -5px 0 0 50px;
    font-family: 'ralewayregular';
    color: #D5D5D5;
    font-size: 22px;
    padding-left: 5px;
    width: 322px;
}

.submitButt {
    text-transform: uppercase;
    text-align: center;
    font-family: 'ralewaybold';
    padding: 18px 50px 18px 50px;
    width: 100%;
    font-size: 30px;
    border-radius: 12px;
    background-color: #24BA9F;
    color: white;
    margin-top: 25px;
}

footer {
    font-family: 'ralewayregular';
    color: #BBBBBB;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer div {
    float: left;
}

.pageLogos {
    margin-top: -9px;
    margin-left: 318px;
}

.finalLogo {
    margin-left: 117px;
    text-transform: uppercase;
    font-weight: 600;
}

.finalLogo span {
    font-family: 'ralewaybold';
}

/*ANIMATION*/

@charset "UTF-8";

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/*ANIMATION END*/